body{
    height: 100%;
    background: #000000;
    color: #fff;
    font-family: 'Comfortaa', sans-serif;
font-family: 'Open Sans', sans-serif;
}
.heading
{
    display: flex;
    margin-top:20px;
    justify-content: center;
    align-items: center;
}
li {
    list-style-type: none;
  }
h1{
    font-size: 40px;
    font-family: 'Pacifico', cursive;

}
  .logo {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .Categories{
    font-size: 20px;
    height: 50px;
    background-color: pink;
    color:black;
    justify-content: center;
    align-items: center;
    display: flex;
    gap:100px;
  }